
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bannerarea{
    background-image: url('images/Hero-bg.png');
}
.navarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px;
    margin: 0px;
}
.btn{
    background-color: #4E47FF;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: black;
    font-weight: bold;
    background-color: gold;
    border: 2px solid black;
}
.action{
    display: flex;
    align-items: center;
    padding: 200px;
    justify-content: space-between;
    
}
.action div img{
    border: none;
    border-radius: 40px;
    }
.productive_user{
    padding: 30px 00px;
    margin: 0px 200px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    text-align: center;
}
.review{
    margin: 200px;
}
.cards{
    display: flex;
    justify-content: space-between;    
}
.card{
    max-width: 320px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid blanchedalmond;
}
.card_footer{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}
.trial{
    margin: 0px 200px 100px 200px;
    background-color: rgb(241, 247, 247);
    border-radius: 15px;
    padding-top: 50px;
}
.imagestyle{
    border-radius: 40px; 
    margin: 0px auto;
}
.formpart{
    padding: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formpart div form label{
    display: block;
}
.formpart div form input{
    padding: 10px;
    width: 400px;
    margin-bottom: 15px;
}
.footer_part{
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: white;
}
.footer_nav{
    text-align: center;
    padding: 0px 500px;
}
.footer_nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.footer_nav ul li a{
    text-decoration: none;
    color: black;
}
.footer_nav ul li:hover{ 
    font-weight: bold;
    border: 1px solid black;
    background-color: aquamarine;
    padding: 2px 6px;
}